*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}

#board{
  display: flex;
  width: 300px;
  flex-wrap: wrap;
}

.square{
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  cursor: pointer;
  user-select: none;
}
.square:hover{
  background-color: #eee;
}

#game{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header{
  font-size: 25px;
  padding-top: 10px;
  padding-bottom: 40px;
}


.square:nth-child(7), .square:nth-child(8), .square:nth-child(9){
  border-bottom: 0px;
}

.square:nth-child(3n+1){
  border-left: 0px;
}

.square:nth-child(1),.square:nth-child(2),.square:nth-child(3){
  border-top: 0px;
}
.square:nth-child(3n){
  border-right: 0px;
}

.status{
  margin-bottom: 20px;
}